.App {
  text-align: center;
  background-image: url('../public/background.jpg');
  background-size: cover;
}
.backs
{
  
background-color: rgba(255, 255, 255, 0.11)!important;
backdrop-filter: blur(10px);
border: 2px solid  rgba(255, 255, 255, 0.2);
border-radius: 20px;
/*   
  background-color: rgba(255, 255, 255, 0.11)!important;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.137); */
}